/* styling page's header */
.header {
	display: flex;
	justify-content: space-between;
	/* margin-top: 20px; */
	padding: 20px 90px 0;
	align-items: center;
}

/* Tablet styling | styles applied when device-width <= 768px */
@media screen and (max-width: 768px) {
	.header {
		padding: 20px 32px 0;
	}
}

/* Mobile styling | styles applied when device-width <= 375px */
@media screen and (max-width: 375px) {
	.header {
		padding: 20px 16px 0;
	}
}