/* styling section "Introduction" */
.introduction {
	padding: 96px 90px;
}

/* style of title */
.introduction__title {
	max-width: 824px;
}

/* style of description */
.introduction__description {
	max-width: 612px;
	font-size: 20px;
	line-height: 32px;
	margin-top: 24px;
}

/* style of section with examples of company's product  | this section has two children: left and right side*/
.introduction__examples {
	margin-top: 40px;
	display: flex;
	column-gap: 23px;
	max-height: 413px;
}

/* left side of examples-section */
.introduction__left-side {
	max-width: 612px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* right side of examples-section */
.introduction__right-side {
	display: flex;
	max-width: 613px;
	column-gap: 23px;
}


.introduction__image {
	display: block;
}

.introduction__buttons-wrapper {
	display: flex;
	justify-self: start;
	column-gap: 16px;
}


.introduction__sales-graph {
	position: relative;
	flex-shrink: 1;
}

.introduction__graph-lines {
	position: absolute;
	top: 95px;
	left: -65px;
	max-width: 428px;
	display: none;
}

.introduction__team-call {
	position: relative;
	top: -66px;
	flex-shrink: 1;
	max-height: 413px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 33px;
}

/* Tablet styling | styles applied when device-width <= 768px */
@media screen and (max-width: 768px) {
	.introduction {
		padding: 80px 32px;
	}

	.introduction__examples {
		column-gap: 12px;
	}

	.introduction__left-side {
		flex-basis: 42%;
		row-gap: 16px;
		justify-content: flex-start;
	}

	.introduction__right-side {
		flex-basis: 58%;
		column-gap: 12px;
	}

	.introduction__team-call {
		max-height: 264px;
		top: -43px;
		row-gap: 22px;
	}

	.introduction__buttons-wrapper {
		flex-direction: column;
		row-gap: 12px;
	}
}

/* Mobile styling | styles applied when device-width <= 375px */
@media screen and (max-width: 375px) {
	.introduction {
		padding: 80px 16px 0;
		text-align: center;
	}

	.introduction__description {
		margin-top: 16px;
	}

	.introduction__examples {
		flex-direction: column;
		row-gap: 18px;
		max-height: fit-content;
	}

	.introduction__left-side {
		row-gap: 0;
	}

	.introduction__right-side {
		column-gap: 18px;
	}

	/* styles for buttons wrapper */
	.introduction__buttons-wrapper {
		margin-bottom: 59px;
		flex-direction: column;
		row-gap: 20px;
	}

	.introduction__sales-graph {
		max-width: 218px;
	}

	/* style for team-call block */
	.introduction__team-call {
		max-width: 106px;
		row-gap: 16px;
		top: -38px;
		max-height: 232px;
	}
}