.introduction {
	padding: 96px 90px;
}

.introduction__title {
	max-width: 824px;
}

.introduction__description {
	max-width: 612px;
	font-size: 20px;
	line-height: 32px;
	margin-top: 24px;
}

.introduction__examples {
	margin-top: 40px;
	display: flex;
	column-gap: 23px;
	max-height: 413px;
	/* grid-template-rows: [first-row] 1fr [second-row] 2fr [last-row];
	grid-template-columns: [first-col] 3fr [second-col] 2fr [third-col] 1fr [last-col]; */
}

.introduction__left-side {
	max-width: 612px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* row-gap: 80px; */
}

.introduction__right-side {
	display: flex;
	max-width: 613px;
	column-gap: 23px;
}


.introduction__image {
	display: block;
}

.introduction__buttons-wrapper {
	display: flex;
	justify-self: start;
}


.introduction__sales-graph {
	position: relative;
	flex-shrink: 1;
}

.introduction__graph-lines {
	position: absolute;
	top: 95px;
	left: -65px;
	max-width: 428px;
	display: none;
}

.introduction__team-call {
	position: relative;
	top: -16%;
	flex-shrink: 1;
}

.introduction__team-call .introduction__image:not(:last-child) {
	margin-bottom: 33px;
}

@media screen and (max-width: 375px) {
	.introduction {
		padding: 80px 16px 0;
		text-align: center;
	}

	.introduction__description {
		margin-top: 16px;
	}

	.introduction__examples {
		flex-direction: column;
		row-gap: 18px;
		max-height: fit-content;
	}

	.introduction__right-side {
		column-gap: 18px;
	}


	/* styles for buttons wrapper */
	.introduction__buttons-wrapper {
		margin-bottom: 59px;
		flex-direction: column;
	}

	.introduction__button:not(:last-child) {
		margin-bottom: 20px;
	}

	.introduction__sales-graph {
		max-width: 218px;
	}

	/* style for team-call block */
	.introduction__team-call {
		max-width: 106px;
	}
}