.subscription {
	background: #F4F4F6;
	color: #131316;
	max-width: 406px;
	border-radius: 16px;
	padding: 25px;
}

.subscription__title {
	color: #35333C;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	margin-bottom: 8px;
}

.subscription__description {
	color: #131316;
	line-height: 150%;
}

.subscription__form {
	display: flex;
	justify-content: space-between;
	column-gap: 16px;
	margin-top: 20px;
	height: 48px;
}

.subscription__input {
	flex-basis: 220px;
	flex-shrink: 1;
	border: 1px solid #BEBDC6;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	padding: 12px;
	min-width: 0;
}

.subscription__input_focus:focus {
	outline-offset: 0.2px;
	outline: 1px solid #78777c;
}

.subscription__input::placeholder {
	color: #605E6D;
}

.subscription__button {
	border-radius: 8px;
	padding: 12px 20px;
	height: inherit;
	flex: 0 0 121px;
}

@media screen and (max-width: 375px) {
	.subscription {
		width: 100%;
		padding: 24px;
	}

	.subscription__title {
		font-size: 18px;
		margin-bottom: 4px;
	}

	.subscription__form {
		column-gap: 8px;
	}
}