/* headers styles */
.h1 {
	font-size: 64px;
	letter-spacing: -2px;
	font-weight: 500;
	line-height: 110%;
}

.h2 {
	text-align: center;
	font-size: 48px;
	line-height: 120%;
	font-weight: 500;
	letter-spacing: -1px;
}

.h3 {
	font-size: 36px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: -1px;
}


/* style for elem with class=descriptions */
.description {
	color: #494A4D;
	font-size: 16px;
	line-height: 160%;
}