/* general styles for tool section */

.tools-section {
	padding: 104px 90px 106px;
}

/* style for title in tools-section */
.tools-section .title {
	max-width: 836px;
	margin: 0 auto;
}

/* style for direct child with class name "description"  */
.tools-section>.description {
	max-width: 620px;
	margin: 24px auto 0;
	text-align: center;
}



/* here is styles for sections with className "tool" */
.tools-section .tool {
	display: flex;
	margin-top: 66px;
	column-gap: 24px;
}

.tools-section .tool:not(:first-of-type) {
	margin-top: 98px;
}

.tools-section .tool:nth-child(even) {
	display: flex;
	flex-direction: row-reverse;
}


/* stylized only section with description about each tool */
.tools-section .tool .tool-info {
	max-width: 513px;
}

.tools-section .tool .tool-info .description {
	margin-bottom: 40px;
}


/* this part of properties set style for tag <detail> and his child <summary> */
.tools-section .tool .tool-info .possibility {
	border-bottom: 1px solid #DFDEE2;
	padding: 20px 0;
	color: #494A4D;
	font-size: 16px;
	line-height: 160%;
}

.tools-section .tool .tool-info .possibility:hover {
	cursor: pointer;
	border-color: #13131684;
}

.tools-section .tool .tool-info .possibility[open] {
	border-color: #131316;
}

.tools-section .tool .tool-info .possibility[open] a {
	display: inline;
}

.tools-section .tool .tool-info .possibility[open] summary {
	margin-bottom: 16px;
}

.tools-section .tool .tool-info .possibility summary {
	list-style: none;
	position: relative;
	font-size: 24px;
	line-height: 120%;
	color: #131316;
}

.tools-section .tool .tool-info .possibility a {
	position: absolute;
	right: 0;
	display: none;
	width: fit-content;
	height: 100%;
	transition: 2s;
	padding-left: 25px;
}

.tools-section .tool .tool-info .possibility .link-arrow {
	display: block;
	width: 12px;
	height: 100%;
}

.tools-section .tool .tool-info .possibility summary::-webkit-details-marker {
	display: none;
}

/* </detail></summary> */


/* here is a styles for section with tool's introduction */
.tools-section .tool .tool-intro {
	max-width: 728px;
}

.tools-section .tool .tool-intro .tool-img {
	width: 100%;
}

/* Tablet styling | styles applied when device-width <= 768px */
@media screen and (max-width: 768px) {
	.tools-section {
		padding: 80px 32px;
	}

	.tools-section .tool .tool-info {
		flex-basis: 50%;
	}

	.tools-section .tool .tool-info .title {
		margin-bottom: 8px;
	}

	.tools-section .tool .tool-intro {
		flex-basis: 50%;
	}

}

/* Mobile styling | styles applied when device-width <= 375px */
@media screen and (max-width: 375px) {
	.tools-section {
		padding: 64px 16px;
	}

	/* for section with classname "tool" */
	.tools-section .tool,
	.tools-section .tool:nth-child(even) {
		flex-direction: column;
		row-gap: 24px;
		margin-top: 40px !important;
		/*temporary fix*/
	}

	/* style for description paragraph */
	.tools-section .tool .tool-info .description {
		margin: 8px 0 20px;
	}

	/* styles for possibilities in tag details*/
	.tools-section .tool .tool-info .possibility {
		font-size: 16px;
		line-height: 160%;
	}


	.tools-section .tool .tool-info .possibility summary {
		font-size: 20px;
		line-height: 120%;
	}
}